<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AAPL Stock Queue</title>
    <link rel="stylesheet" href="drag.css" />
    <!-- <script  //可移動
      src="https://kit.fontawesome.com/3da1a747b2.js"
      crossorigin="anonymous"
    ></script> -->
  </head>
  <body>
    <h2>AAPL Stock Queue</h2>
    <!-- <p>Drag and drop the items into their corresponding spots</p> -->
    <div>
      <ul class="BidList" id="BidList"></ul>
    </div>
    <div>
    <ul class="AskList" id="AskList"></ul>
  </div>
    <button class="check-btn" id="check">
      Check Order
      <i class="fas fa-paper-plane"></i>
    </button>

    <script src="drag.js"></script>
  </body>
</html>